.boxinput {
    width: 25%;
    background-image: linear-gradient(to right, rgb(0, 162, 255) , rgb(66, 69, 255));
}

.title {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
}
.surname {
    display: flex;
    justify-content: center;
}
.gender {
    display: flex;
    justify-content: center;
}
.birthday {
    display: flex;
    justify-content: center;
}

.addbutton {
    display: flex;
    justify-content: center;
}


table,tr,th {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(87, 68, 255);
}

.body {
    display: flex;
    justify-content: center;
}

.t1 {
    width: 18%;
}

.t2 {
    width: 28%;
}

.t3 {
    width: 18%;
}

.t4 {
    width: 28%;
}

input {
    width: 70%;
    height: 20px;
    border-radius: 2px;
    border: 1px solid white;
}

select {
    width: 70%;
    height: 20px;
    border-radius: 2px;
    border: 1px solid white;
}

h3{
    margin-left: 1em;
}

button {
    width: 60%;
    height: 40px;
    font-size: 1em;
    background-color: rgb(0, 0, 124);
    color: white;
    border-radius: 0.5em;
}